---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import type { ScriptsProps } from "@types";
import ExternalLink from "@icons/ExternalLink.astro";

import { background } from "src/styles/presets";

// Define props explicitly
interface Props {
  title: string;
  idx: string;
  scripts: ScriptsProps[];
}

const { scripts, title, idx } = Astro.props;
---

<Section text={title} href={idx}>
  {
    scripts.map(({ name, summary, image, linkPreview }, index) => (
      <div
        class:list={[
          "sticky mb-12 rounded-2xl text-base-content shadow-md",
          background.card,
        ]}
      >
        <div class="relative z-[1] grid w-full grid-rows-2 gap-6 rounded-2xl bg-base-100/80 sm:grid-cols-2 sm:grid-rows-1 sm:h-[540px] md:h-96 before:absolute before:inset-0 before:z-[-1] before:rounded-2xl before:bg-[url(/raja.png)] before:bg-[length:128px] before:bg-repeat before:opacity-5 before:content-['']">
          {/* Text Content */}
          <div class="flex flex-col justify-center px-6 py-10 font-inter sm:py-12">
            <h3 class="mb-4 text-3xl font-semibold tracking-tight text-primary">
              {name}
            </h3>
            <p class="text-base leading-relaxed text-neutral-content">
              {summary}
            </p>
            {linkPreview && (
              <div class="mt-6">
                <a
                  href={linkPreview}
                  target="_blank"
                  class="inline-flex items-center gap-2 text-sm font-medium text-base-content hover:underline"
                >
                  Watch Sample
                  <ExternalLink class="relative -bottom-[1px] size-4.5" />
                </a>
              </div>
            )}
          </div>

          {/* Image Side (optional) */}
          {image ? (
            <div class="flex items-end justify-end overflow-hidden">
              <Image
                class="h-full w-[95%] rounded-ss-xl rounded-ee-2xl object-cover object-center sm:h-[85%] sm:w-full"
                src={image}
                alt={name}
                width="736"
                height="483"
              />
            </div>
          ) : (
            <div class="hidden sm:block" /> // Maintain layout if no image
          )}
        </div>
      </div>
    ))
  }
</Section>
